# Dependency directories
node_modules/
dadv_repo/

# Environmental variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Files
.DS_Store
Thumbs.db

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Streamlit
.streamlit/
